{% include "app1/header.html" %}
<body>
  {% include "navigation.html" %}
  <h1>CINS 465: Assignment 4 by Derek Bergman</h1>
  <h2>About Me</h2>
  {% load static %}
  <img src="{%static 'me.jpg' %}"/> 
  <p>&emsp;Hi my name is Derek Bergman and I am a senior at CSU Chico. My dream programming job would be to help develope self driving cars or alternatively any machine learning or artificial intelegence position. In my free time I enjoy the hiking, camping, long boarding, and playing games, either board games or video games. </p>
</body>
