
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Assignment 4 -- Derek Bergman</title>
  {% load static %}
  {% include "bootstrap.html" %}
  <script src="{% static 'chess.js' %}"></script>
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>

<body>
  {% include "navigation.html" %}
  <h1>CINS 465: Assignment 4 by Derek Bergman</h1>
  <h2>Chess History</h2>
  <p>&emsp;Chess has been around for hundreds of years and even longer when considering the other games it has been adapted from. Though the exact parent of chess is debated, most historians agree it was adapted in the late 15th century from an acient Indian game called chaturanga. Chess is a strategy game where two players play on a 64 square board with 16 pieces each having their own set of movement rules. The objective is to put the opponent's king in "checkmate". Check is when a piece is attacking the king and checkmate is when the opponents king can not make a legal move to protect itself.</p>

</body>
